
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Tên</th>
            <th>Thao tác</th>
            <th>
                <a routerLink="admin/add" class="btn btn-success">Thêm mới</a>
                <a class="btn btn-success" routerLink="/adhome">Chỉnh sửa</a>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cate of category">
            <td>{{cate.id}}</td>
            <td>{{cate.name}}</td>
            <td>
                <a routerLink="admin/edit/{{cate.id}}" class="btn btn-info">Sửa</a>&nbsp;
                <button type="button" class="btn btn-danger" (click) = "removeCategory(cate)">Xóa</button>
            </td>
        </tr>
    </tbody>
</table>
